:root {
  --bg-purple: rgb(105, 14, 93);
}

.bg-purple {
  background-color: var(--bg-purple);
}

.text-purple {
  color: var(--bg-purple);
}

.paytone {
  font-family: 'Paytone One', sans-serif;
}

body {
  background-color: rgba(241, 241, 241);
  background-size: cover;
  background-position-y: -500px
}

.route-wrapper {
  width: 100%;
  position: relative;
}

.route-wrapper > div {
  width: 100%;
  position: absolute;
}